/* RESET CSS*/
body{
    margin: 0%;
}

/* HEADER */
header {
    font-family: 'Reem Kufi', sans-serif;

}
a {
    text-decoration: none;
}
/* 
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */
ul {
    list-style: none;
}

body {
    overflow-x: hidden;
}



#nav {
    width: 100%;
    height: 100px;
    background-color: #279b8f;
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
    border: none;
    position: fixed;
}

#triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #ffffff;
    position: relative;
}

#logo {
    position: absolute;
    top: 39px;
    right: -34px;
}
#ligne1{
    background-color: rgb(255, 255, 255);
    width: 520px;
    height: 2px;
    position: absolute;
    top: 22px;
    left: -367px;
}
#ligne2{
    background-color: rgb(255, 255, 255);
    width: 520px;
    height: 2px;
    position: absolute;
    top: 89px;
    left: -151px;
}
#ligne3{
    background-color: rgb(255 255 255);
    width: 520px;
    height: 2px;
    position: absolute;
    top: 76px;
    left: -354px;
}

#accueil{
    position: absolute;
    top: 24px;
    left: 192px;
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    padding: 7px 10px 7px 10px;
}
#quisommesnous{
    position: absolute;
    top: 23px;
    left: 396px;
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    padding: 7px 10px 7px 10px;
} 
  #tourne {
    transform: rotate(34deg);
    border-radius: 20px;
    width: 50px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 36px;
    left: 147px;
  }
  
  #tourner {
    transform: rotate(124deg);
    width: 50px;
    height: 2px;
    background-color: rgb(255 255 255);
    position: absolute;
    top: 69px;
    left: 358px;
  }

  #rond1{
      width: 100px;
      height: 100px;
  }

  #en_savoir_plus{
    position: absolute;
    top: 594px;
    left: 247px;
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    padding: 7px 10px 7px 10px;
    font-family: 'Reem Kufi', sans-serif;
}

  /* ANIMATIONS LIGNE */

  @-webkit-keyframes pointLumineux {
    0% {
      left: 0%;
    }
    50% {
        left: 9.5%;
    }
    100% {
        left: 0%;
    }
  }

  #point_lumineux {
    background-color: rgb(255, 230, 0);
    position: relative;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 21px;
    left: 420px;
    -webkit-animation-name: pointLumineux;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: pointLumineux;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    animation-name: pointLumineux;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }

  @-webkit-keyframes pointLumineux2 {
    0% {
        left: 0%;
      }
      50% {
          left:24%;
      }
      100% {
          left: 0%;
      }
    }
  #point_lumineux2 {
    background-color: rgb(234, 255, 0);
    position: relative;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 88px;
    left: 420px;
    -webkit-animation-name: pointLumineux2;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: pointLumineux2;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    animation-name: pointLumineux2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  



/*  modal connexion/inscriptions */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.modal {
    background: black;
    height: 1px;
    overflow: hidden;
    position: fixed;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s ease 0.5s, height 0.5s ease;
    width: 0;
}


#button_label {
    opacity: 1;
    color: white;
    cursor: pointer;
    font-family: 'Reem Kufi',cursive;
    font-size: 24px;
    transition: color 0.5s ease 0.5s, opacity 0.5s ease;
    border: 3px solid white;
    border-radius: 30px;
    position: absolute;
    top: 22px;
    right: 50px;
    padding: 7px 10px 7px 10px;
}

#button {
    cursor: pointer;
    height: 0;
    opacity: 0;
    width: 0;
    display: none;

}

#button:focus {
    outline: none;
}

#button:checked {
    height: 40px;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1;
    width: 40px;
}

#button:checked::after, #button:checked:before {
    border-top: 1px solid #FFF;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 100%;
}

#button:checked::after {
    transform: rotate(-45deg);
}

#button:checked + #button_label {
    opacity: 0;
    transition: all 0.5s ease;
}

#button:checked ~ .modal {
    height: 400px;
    border-radius: 20px;
    width: 60%;
    transition: width 0.5s ease, height 0.5s ease 0.5s;
}

#button:checked ~ .modal .content {
    color: #FFF;
    transition: color 0.5s ease 0.5s;
}

#fermeture_connexion {
    z-index: 9;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    position: fixed;
    top: 11px;
    right: 27px;
}

/* système de rotation de la card */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    font-family: "Montserrat";
}

.container {
    /*min-width: 700px;*/
    min-height: 400px;
    border-radius: 20px;
    position: relative;
    -webkit-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
    transform-style: preserve-3d;
}

.side {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    color: #fff;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 20px;
}

.content {
    transform: translatez(70px) scale(0.8);
    line-height: 1.5em;
}

.content h1 {
    position: relative;
}

.content p {
    margin-top: 50px;
    line-height: 2em;
}

.content h1:before {
    content: "";
    position: absolute;
    bottom: -20px;
    height: 3px;
    background-color: #3e3;
    width: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.front {
    z-index: 2;
    background-size: 100vh;
    background-size: cover;
    background-image: url(https://livewallpaperhd.com/wp-content/uploads/2022/01/Indie-HD-Backgrounds.jpg);
}

.back {
    background-color: #333;
    transform: rotateY(180deg);
    z-index: 0;
    padding-top: 10px;
    background-image: url(https://userscontent2.emaze.com/images/f9538183-0ff9-478f-b964-c8ab90421e3b/3d28e192fda5c17250f96a2779c84475.jpg);
}

form {
    text-align: left;
}

.back h1 {
    margin: 0;
}

form label,
form input {
    display: block;
}

form input,
form textarea {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #444;
    padding: 5px;
    width: 100%;
    color: #fff;
}

form label {
    margin: 15px 0;
}

form input[type="submit"] {
    display: block;
    width: auto;
    margin: 10px auto;
    padding: 5px 10px;
    border: 3px solid #555;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

/* my button style  */
.white-mode {
    text-decoration: none;
    padding: 7px 10px;
    background-color: #122;
    border-radius: 3px;
    color: #fff;
    transition: 0.35s ease-in-out;
    position: fixed;
    left: 15px;
    bottom: 15px;
    font-family: "Montserrat";
}

.white-mode:hover {
    background-color: #fff;
    color: #122;
}


/* BOUTON SE CONNECTER NAVBAR */

.stretch, .button:after, .button:before {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }    
  .button {
    background: #279b8f;
    background-size: 100%;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
    border: 2px solid white;
    padding: 20px;
    color: #fff200;
    font-weight: bold;
    letter-spacing: 0.05em;
    outline: none;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    z-index: 99;
  }
  .button:after {
    -moz-box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
    -webkit-box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
    box-shadow: rgba(238, 255, 0, 0.75) 0 0 15px 2px;
    background: #fff200;
    content: "";
    height: 2px;
    opacity: 0;
  }
  .button:before {
    content: "";
    opacity: 0;
  }
  .button:hover:before {
    opacity: 1;
  }
  .button:hover:after {
    -webkit-animation: scan 2s infinite;
    opacity: 1;
  }
  
  @-webkit-keyframes scan {
    0% {
      top: 0%;
    }
    50% {
      top: 97%;
    }
    100% {
      top: 0%;
    }
  }
  
  a:link, a:visited
  {
      color: rgb(255, 255, 255);
      text-decoration: none;
  }

  /* BOUTON "COMMENCER MAINTENANT" ACCUEIL*/

  /* ANIMATION LETTRE PAR LETTRE*/

.animate-text { 
    visibility:hidden;
    font-family: 'Reem Kufi', sans-serif;
    color: #ffdd19;
    position: absolute;
    top: 295px;
    left: 247px;
    word-spacing: 6px;
    letter-spacing: 1px;
}
.animate-text { 
    width:700px;
  }

